---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=SnHnwYtSKvUGFuL5IeLyvoua0R6khzMJ&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 06:28:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SnHnwYtSKvUGFuL5IeLyvoua0R6khzMJ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1726649031"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1431866b56400d614c3a2ec8a8c8b347&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646720896,"sunrise":1646659442,"sunset":1646701087,"temp":266.8,"feels_like":266.8,"pressure":1020,"humidity":77,"dew_point":263.81,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":0.89,"wind_deg":190,"wind_gust":2.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1646720940,"precipitation":0},{"dt":1646721000,"precipitation":0},{"dt":1646721060,"precipitation":0},{"dt":1646721120,"precipitation":0},{"dt":1646721180,"precipitation":0},{"dt":1646721240,"precipitation":0},{"dt":1646721300,"precipitation":0},{"dt":1646721360,"precipitation":0},{"dt":1646721420,"precipitation":0},{"dt":1646721480,"precipitation":0},{"dt":1646721540,"precipitation":0},{"dt":1646721600,"precipitation":0},{"dt":1646721660,"precipitation":0},{"dt":1646721720,"precipitation":0},{"dt":1646721780,"precipitati[...]
[...]
