---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=SnHnwYtSKvUGFuL5IeLyvoua0R6khzMJ&location=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 18:24:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SnHnwYtSKvUGFuL5IeLyvoua0R6khzMJ&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-166265237"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Kenosha
        County","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1431866b56400d614c3a2ec8a8c8b347&lat=41.883229&lon=-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1646763859,"sunrise":1646741655,"sunset":1646783316,"temp":275.67,"feels_like":271.59,"pressure":1024,"humidity":55,"dew_point":268.19,"uvi":3.28,"clouds":40,"visibility":10000,"wind_speed":4.63,"wind_deg":220,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1646763900,"precipitation":0},{"dt":1646763960,"precipitation":0},{"dt":1646764020,"precipitation":0},{"dt":1646764080,"precipitation":0},{"dt":1646764140,"precipitation":0},{"dt":1646764200,"precipitation":0},{"dt":1646764260,"precipitation":0},{"dt":1646764320,"precipitation":0},{"dt":1646764380,"precipitation":0},{"dt":1646764440,"precipitation":0},{"dt":1646764500,"precipitation":0},{"dt":1646764560,"precipitation":0},{"dt":1646764620,"precipitation":0},{"dt":1646764680,"precipitation":0},{"dt":1646764740,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-JbFu+LMV+jFjwnWr5c0DNGI26co"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a movie you''d never usually watch","type":"relaxation","participants":1,"price":0.15,"link":"","key":"9212950","accessibility":0.15}'
  recorded_at: Tue, 08 Mar 2022 18:24:20 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-gt1zIqWloBRRBnmMfqDwJNqzPRg"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake something you''ve never tried before","type":"cooking","participants":1,"price":0.4,"link":"","key":"5665663","accessibility":0.3}'
  recorded_at: Tue, 08 Mar 2022 18:24:20 GMT
recorded_with: VCR 6.0.0
